body {
    background-color: #033075;
}
.display-container{
    margin: 0;
    max-width: 1200px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
.headerpart {
    position: relative;
}
.login_header {
    display: flex;
    position: absolute;
    color: white;
    font-size: 100px;
    font-weight: 550;
    margin-top: 180px;
}
.login_subheader {
    position: absolute;
    color: white;
    font-size: 15px;
    margin-top: 330px;
    margin-left: 20px;
}

.SignUpBtn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.SignUpBtn button {
    padding: 10px 80px 10px 15px;
    background-color: #033075;
    color: white;
    border: white solid 2px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 400px;
}
.notmemberBtn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.notmemberBtn button {
    padding: 10px 70px 10px 15px;
    background-color: #033075;
    color: white;
    border: white solid 2px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
button:hover {
    color: #033075;
    background-color: white;
}
/* tool-part */
.login_border {
    border: 5px solid transparent;
    background-image: linear-gradient(#032964, #032964), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 350px !important;
    height: 550px;
    border-radius: 15px;
    box-shadow: -5px 5px 7px;
    margin-top: -50px;
}
.login_tool {
    display: flex;
    justify-content: center;
    margin-left: 850px;
}
.login_border {
    position: absolute;
    width: 800px;
    top: 150px;
}
.tool_header p {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin: 80px 0 0 30px;
}
.tool_subheader p {
    font-size: 15px;
    color: white;
    font-weight: 400;
    margin: 0 0 0 30px;
}
input::placeholder {
    font-size: 12px;
    color: white;
}
.tool_email {
    margin: 7px 0 0 30px;
}
.tool_email input {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 10px;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    color: white;
}
.tool_name {
    margin: 15px 0 0 30px;
}
.tool_name input {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 10px;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    color: white;
}
.tool_password {
    margin: 15px 0 0 30px;
}
.tool_password input {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 10px;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    color: white;
}
.tool_pwcheck {
    margin: 15px 0 0 30px;
}
.tool_pwcheck input {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 10px;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    color: white;
}
.tool_loginBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.tool_loginBtn button {
    background: linear-gradient( to right, #2e4cee, #030e74 );
    padding: 8px; 
    border-radius: 10px !important;
    border: none;
    font-size: 17px;
    width: 290px;
    color: white;
    filter: drop-shadow(2px 2px 3px #000000);
}
.tool_loginBtn p {
    margin-bottom: 0 !important;
}
.tool_line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #4c4c4c;
    margin: 10px 0 0 0;
    font-weight: 600;
}
.tool_line:before {
    content: "";
    flex-grow: 1;
    margin: 0 15px 0 30px;
    background: #4c4c4c;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.tool_line::after {
    content: "";
    flex-grow: 1;
    margin: 0 30px 0 15px;
    background: #4c4c4c;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.tool_line p {
    margin-bottom: 7px;
}
.tool_icon {
    display: flex;
    justify-content: center;
}
.tool_icon div {
    margin: 0 5px 0 5px;
}