





@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }
}