@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.gangwon-font {
    font-family: 'GangwonState', sans-serif;
}
.display-container{
    margin: auto;
    max-width: 1200px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
/* navbar section */
.navbar {
    background-color: #033075;
    padding: 8px 12px;
}
.navbar_logo img {
    width: 130px;
    height: 25px;
    margin-left: 20px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar a {
    color: white;
}
.navbar_menu li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
}
.navbar_menu li:hover > a {
    color: #033075;
}
.navbar_login {
    list-style: none;
    color: #f0f4f5;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 12px;
}
.navbar_login li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    padding: 8px 4px;
}
.navbar_login li:hover > a {
    color: #033075;
}
.navbar_login i{
    padding-left: 5px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: #d49466  ;
}
.navbar_toggleBtn:hover i:hover {
    color: #f0f4f5;
}

/* Header section */
.header_section {
    background-color: #f5f7fa;
    margin-top: 56px;
}
.header p {
    font-size: 32px;
    margin: 8px;
    padding: 10px 0 0 16px;
}
.header_line {
    border-top: 1px black solid;
}
input::placeholder {
    font-size: 12px;
    padding-left: 10px;
    color: #9d9d9d;
}
.search_section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.search_bar {
    display: flex;
    position: absolute;
    margin-right: 155px;
}
.search_bar input {
    width:250px;
    height: 45px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px solid #9d9d9d;
}
.searchBtn {
    display: flex;
    position: absolute;
    margin-left: 140px;
}
.searchBtn button {
    background-color: #f2f2f2;
    border: 2px solid #9d9d9d;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}
.searchBtn i {
    color: #9d9d9d;
    padding: px;
}
.categoryBtn {
    width: 70px;   
    height: 45px;
    display: flex;
    position: absolute;
    background-color: #f2f2f2;
    border: 2px solid #9d9d9d;
    margin-left: 255px;
    border-radius: 5px;
}
.categoryBtn button {
    color: #9d9d9d;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 12px;
    border: none;
}
.consult_img {
    margin-left: 900px;
    width: 250px;
    height: 250px;
    margin-top: -30px;
}
.category{
    display:flex;
}
.category .optional #ed_target{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0px 10px;
    padding: 0 8px;
    border-radius: 5px;
}
.category .optional #ed_field{
    width:120px;
    height:47px;
    font-size:16px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0 0;
    padding: 0 8px;
    border-radius: 5px;
}
.writeBtn {
    display: flex;
    position: absolute;
    margin: 23px 11px 0 1070px;
}
.writeBtn button {
    color: white;
    padding-left: 5px;
    background-color: #033075;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    width: 120px;
    height: 47px;
}
.consult_list a .header {
    color: black;
    font-size: 30px;
    padding: 20px;
}
.consult_list a .content, .answer {
    color: #9d9d9d;
    font-size: 20px;
    padding: 10px 30px;
}
.question_box {
    border: 1px solid #033075;
    border-radius: 15px;
    width: 1000px;
    height: 270px;
    margin: 50px 100px 50px 0;
    margin-left: 100px;
}
.question_box .line {
    border: 1px solid #9d9d9d;
    margin: 0 30px;
}
.question_box .answer {
    margin-top: 25px;
}

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }
}