
@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.gangwon-font {
    font-family: 'GangwonState', sans-serif;
}
body{
    margin: 0;
}
a {
    text-decoration: none;
    color: #f0f4f5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #033075;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 20px;
    color: #f0f4f5;
}
.navbar_logo i{
    color: #d49466;/* 색상 설정하기 */
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    color: #033075;
}
.navbar_login {
    list-style: none;
    color: #f0f4f5;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 12px;
}
.navbar_login:hover {
    background-color: #f0f4f5;
    border-radius: 4px;
    color: #033075;
    padding: 8px 4px;
}
.navbar_login i{
    padding-left: 5px;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 20px;
    color: #d49466  ;
}
.navbar_toggleBtn:hover i:hover {
    color: #f0f4f5;
}

/*header*/
.header{
    background-color: #f0f4f5;
}
.header .title{
    margin-left:20px;
    padding-top:20px;
    font-size:50px;
}
.header hr{
    height: 3px;
    background-color: #000000;
}
.header .sub{
    display:flex;
}
.header .search_form{
    padding-top:60px;
}
.header .search_education{
    width:500px;
    height:50px;
    background-color: #F2F2F2;
    margin-left:700px;
    border-radius: 5px;
}
.header .submit_education{
    width:60px;
    height:50px;
    background-color: #F2F2F2;
    color:#9D9D9D;
    border-radius: 5px;
}
.header .category_education{
    width:80px;
    height:50px;
    background-color: #F2F2F2;
    color:#9D9D9D;
    border-radius: 5px;
}
.header img{
    width:200px;
    height:250px;
    margin-top:-40px;
    margin-left:300px;
}

/*카테고리*/
.category{
    display:flex;
}
.category .optional #ed_target{
    width:120px;
    height:47px;
    font-size:24px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0px 100px;
    border-radius: 5px;
}
.category .optional #ed_field{
    width:120px;
    height:47px;
    font-size:24px;
    stroke:2px solid #033075;
    color:#9D9D9D;
    margin:23px 11px 0px 27px;
    border-radius: 5px;
}

/*페이지네이션*/
.page{
    margin-top:50px;
    margin-left:100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px 10px;
}
.page .section{
    border:2px solid #033075;
    border-radius: 5px;
    width:450px;
    height:400px;
}
.page .section p{
    margin-left:20px;
    margin-top:20px;
    font-size:24px;
    color:#9D9D9D;
}
.page .section .ed_name{
    color:#000000;
}
.page .section p a{
    color:#000000;
}
.page .section p a i{
    margin-left:5px;
}


@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_menu.active, .navbar_login.active {
        display: flex;
    }

    /*header */
    .header .title{
        margin-left:10px;
        padding-top:10px;
        font-size:30px;
    }
    .header .search_form{
        padding-top:25px;
    }
    .header .search_education{
        width:300px;
        height:30px;
        margin-left:20px;
    }
    .header .submit_education{
        width:40px;
        height:30px;
        font-size:16px;
    }
    .header .category_education{
        width:70px;
        height:30px;
        font-size:16px;
    }
    .header img{
        width:100px;
        height:150px;
        margin-left:15px;
    }
    /*카테고리*/
    .category .optional #ed_target{
        width:80px;
        height:30px;
        font-size:16px;
        margin:10px 5px 0px 20px;
    }
    .category .optional #ed_field{
        width:80px;
        height:30px;
        font-size:16px;
        margin:10px 5px 0px 20px;
    }

    /*페이지네이션 */
    .page{
        margin-top:25px;
        margin-left:20px;
        grid-template-columns: 1fr 1fr;
        gap:10px 15px;
    }
    .page .section{
        width:250px;
        height:300px;
    }
    .page .section img{
        margin-top:10px;
        width:200px;
        height:130px;
        margin-left:25px;
    }
    .page .section p{
        margin-left:10px;
        margin-top:10px;
        font-size:14px;
    }



}